# Ignore everything first
*

# Allow only necessary files/folders
!src/
!pom.xml
!mvnw
!mvnw.cmd
!Dockerfile

# Exclude specific unwanted files/dirs
.git/
.gitignore
.gitattributes
target/
HELP.md
*.md

**/target/
**/.git
**/.idea
**/*.iml
**/docker-compose*
**/README.md