spring:
  cache:
    type: redis 
  r2dbc:
    url: r2dbc:postgresql://postgres:5432/demo_db
    username: demo_user
    password: demo_pass
    pool:
      initial-size: 10
      max-size: 100            # tăng pool size cho high load
      max-idle-time: 60s
      validation-query: SELECT 1

  data:
    redis:
      host: redis
      port: 6379
      timeout: 5s
      client-type: lettuce
      lettuce:
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5
          time-between-eviction-runs: 5s
        shutdown-timeout: 100ms

  webflux:
    base-path: ""

  main:
    web-application-type: reactive

  jackson:
    default-property-inclusion: non_null
    property-naming-strategy: KEBAB_CASE
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      adjust-dates-to-context-time-zone: false
    time-zone: Asia/Ho_Chi_Minh

---

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    properties:
      schema.registry.url: ${SCHEMA_REGISTRY_URL:http://localhost:8081}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        auto.register.schemas: true
        use.latest.version: true
        enable.idempotence: true
      acks: all
      retries: 3
        
    consumer:
      group-id: inventory-alert-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        specific.avro.reader: true
        auto.register.schemas: true


---

redisson:
  single-server-config:
    address: "redis://${spring.data.redis.host}:${spring.data.redis.port}"
    password: ${spring.data.redis.password}
    database: ${spring.data.redis.database}
  threads: 16
  netty-threads: 32
  codec: !<org.redisson.codec.JsonJacksonCodec> {}
  
---

db:
  row-lock: 15      # thời gian chờ tối đa để lấy lock (seconds)
  lease-time: 45    # thời gian giữ lock trước khi tự động giải phóng (seconds)

---

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}